<form method="POST" action="/champions">
  <fieldset>
  <fieldset>
    <legend>New Champion</legend>
    <div class="form-group">
      <label for="Champion">Champion</label><br>
      <input class="form-control" id="Champion" type="text" name="Champion" placeholder="Name" />
    </div>
    <div class="form-group">
      <label for="Description">Description</label><br>
      <input class="form-control" type="text" name="Description" />
    </div>
    <div class="form-group">
      <label for="Passive">Passive</label><br>
      <input class="form-control" id="Passive" type="text" name="Passive"/>
    </div>
    <div class="form-group">
      <label for="Ability1">Ability One</label><br>
      <textarea class="form-control" id="Ability1" type="text" name="Ability1" placeholder="Ability Name: Description" ></textarea>
    </div>
    <div class="form-group">
      <label for="Ability2">Ability Two</label><br>
      <textarea class="form-control" type="text" name="Ability2" placeholder="Ability Name: Description"></textarea>
    </div>
    <div class="form-group">
      <label for="Ability3">Ability Three</label><br>
      <textarea class="form-control" type="text" name="Ability3" placeholder="Ability Name: Description"></textarea>
    </div>
    <div class="form-group">
      <label for="Ultimate">Ultimate</label><br>
      <textarea class="form-control" type="text" name="Ultimate" placeholder="Ability Name: Description"></textarea>
    </div>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Champ!</button>
  </p>

</form>